html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0;
    height: 100%;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    color: #2f3535;
}

h1 {
    font-size: 3.4em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

h4 {
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 300;
    color: #1a8175;
    letter-spacing: 1px;
}

h5 {
    font-size: .8em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

p {
   font-family: 'Open Sans', sans-serif;
    color: #2f3535;
}

 ul.body-list  {
    list-style-type: square;
    width: 90%
}

ul > li {
    color: #2aa799;
    margin-bottom: 10px;
}

ul > li > span {
    color:#2f3535;
}

#logo img {
    max-width: 80%;
    position: relative;
    top: 2em;
    margin: auto;
    left: 1em;
}

#nav {
    font-size: 1em;
    position: relative;
    top: 50px;
}

#nav ul {
    font-size: 14px;
}

#nav li {
    list-style: none;
    margin-bottom: 2em;
    color: #fff;
}

#flex-wrapper {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
    flex-flow: row wrap;
    height: auto;
}

.flex-row-left {
    -webkit-flex: 1 0 0;
   flex: 1 0 0;
    background-color: #252525;
    box-shadow: inset -1em 0 15px -2px rgba(0, 0, 0, 0.1);
}

.flex-row-right {
    -webkit-flex: 4 0 0; 
   flex: 4 0 0;
}

/*.masthead {
    height: 470px;
    background-color: black;
}*/

.masthead img {
    position: relative;
  height: auto;
    width: 100%;
  top: 0;
    bottom: 0;
}

.position-middle {
    width: 100%;
    height: auto;
    min-height: 185px;
    background-color: #1a8175;
    overflow: hidden;
}

.main-content {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.content-wrapper {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

.float-box-wrapper {
    width: 90%;
    margin: auto;
}

.float-box {
    width: 20%;
    height: 110px;
    margin-bottom: 1em;
    min-width: 180px;
    border: 1px solid blue;
    background-color: rgba(255, 255, 255, 0.1);
    border: 10px solid rgba(204, 204, 204, 0.1);
    float: left;
    margin: 1.5em 0 1em 7%;
}

.float-box img {
    max-width: 80px;
    margin: auto;
    position: relative;
    top: 10px;
    left: 30%;
    max-height: 50px;
}

.grey-line {
    background-color: #d3d0d0;
    height: .7em;
    width: 90%;
}

.button {
    border: 6px solid transparent;
    -moz-border-image: -moz-linear-gradient(top right, #26c6b4 0%, #056c60 100%);
    -webkit-border-image: -webkit-linear-gradient(top right, #26c6b4 0%, #056c60 100%);
    border-image: linear-gradient(to bottom left, #26c6b4 0%, #056c60 100%);
    border-image-slice: 1;
    background-color: transparent;
    margin-bottom: 10px;
}

.button:hover {
    background-color: rgba(26, 129, 117, 0.1);
}

.button p {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
    margin: 0;
    text-align: center;
    color: #056c60;
    font-size: 1.2em;
}

.button-grey {
    border: 6px solid transparent;
    -moz-border-image: -moz-linear-gradient(top right, #bbc7c6 0%, #5e6262 100%);
    -webkit-border-image: -webkit-linear-gradient(top right, #bbc7c6 0%, #5e6262 100%);
    border-image: linear-gradient(to bottom left, #bbc7c6 0%, #5e6262 100%);
    border-image-slice: 1;
    background-color: transparent;
    margin-bottom: 10px;
}

.button-grey:hover {
    background-color: rgba(118, 129, 128, 0.1);
}

.button-grey p {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    margin: 0;
    color: #666767;
    font-size: 1.2em;
}

#blockquote-area {
    background-color: #b74f2c;
    width: 100%;
}

blockquote {
    color: #fff;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 25px;
}

.client-logos {
    background-color: #dee0df;
    height: 200px;
}

.form-style {
    max-width: 500px;
    padding: 10px 20px;
/*    background: #f4f7f8;*/
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}
.form-style fieldset{
    border: none;
}
.form-style legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style label {
    display: block;
    margin-bottom: 8px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select {
    font-family: 'Open Sans', sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
   
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus{
    background: #d2d9dd;
}
.form-style select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style input[type="submit"],
.form-style input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover
{
    background: #109177;
}

footer {
    background-color: #404041;
}

footer p {
    color: #fff;
    font-size: 12px;
}
